body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Topo da página */
.container-topo {
    position: relative;
    padding: 35px 0px;
}

.topo-logo {
    position: relative;
}

.topo-logo img {
    width: 80px;
}

.topo-logo div {
    position: absolute;
    top: 0;
    left: 95px;
}

.topo-logo p {
    color: #2f86d6;
    font-weight: 600;
}

.topo-links {
    position: absolute;
    top: 65px;
    right: 0;
}

.topo-links a {
    font-size: 18px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #233032;
}

/* Banner da página */

.secao-banner{
    background-color: #2f86d6;
}

.container-banner{
    margin: auto;
    color: #fff;
    position: relative;
    padding: 180px 0px;
}
.container-banner div{
    width: 470px;
}

.container-banner div p {
    font-size: 16px;
    line-height: 26px;
    word-spacing: 3px;
}

.container-banner div h2 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0px;
}

.container-banner img {
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0;
}

/* Seção preços */

.secao-precos{
    background-color: #233032;
}

.container-precos{
    padding: 40px 0px;
    position: relative;
}

.container-precos h2{
    margin: 0;
    color: #fff;
}

.container-precos p{
    color: #fff;
}

.botao-precos{
    background-color: #2f86d6;
    position: absolute;
    top: 30%;
    right: 0;
    padding: 10px;
}

.botao-precos a{
    text-decoration: none;
    color: #fff;
}

/* Seção informacoes */
.secao-informacoes{
    padding: 100px 0px;
}

.container-informacoes .titulo-secao{
    text-align: center;
}

.container-informacoes .titulo-secao span{
    color: #2f86d6;
}

.container-informacoes img{
    width: 200px
}

.informacao{
    position: relative;
    max-width: 340px;
    text-align: center;
}

.card2{
    position: absolute;
    left: 400px;
    top: 0;
}

.card3{
    position:absolute;
    left:0px;
    top: 0;
}