/* teste */
/* Globais */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.limitar-secao {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Topo da página */
.secao-logo{
    background-color: #2f86d6;
}

.container-topo {
    position: relative;
    padding: 35px 0px;
}

.topo-logo {
    position: relative;
}

.topo-logo img {
    width: 80px;
}

.topo-logo div {
    position: absolute;
    top: 0;
    left: 95px;
}

.topo-logo h1{
    margin: 0px;
}

.topo-logo p {
    color: #f6f6f6;
    font-weight: 600;
    margin: 0px;
}

.topo-links {
    position: absolute;
    top: 65px;
    right: 0;
}

.topo-links a {
    font-size: 18px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #f6f6f6;
}


/* seção tabela */

.container-planos {
    padding: 40px 0px;
    position: relative;
}

.tabela{
    margin: 50px auto;
    box-shadow: 0px 2px 40px 15px rgba(47,134,214,1);
}

.titulo-tabela{
    text-align: center;
    line-height: 40px;
}

.titulo-tabela span{
    color: #2f86d6;
}

table thead th {
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
}

table thead th h3 {
    margin-bottom: 20px;
}

table thead th img {
    width: 100px;
    margin: auto;
}

table thead th p {
    max-width: 150px;
    margin: auto;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
}

table tbody td {
    width: 250px;
    max-width: 2048px;
    text-align: center;
    font-weight: 500;
    padding: 15px;
}


.impar{
    background-color: #f6f6f6;
}

.par{
    background-color: #fff;
}

.marcador-azul {
  width: 20px;
  height: 20px;
  margin: auto;
  background-color: #2f86d6;
  border-radius: 100px;
}


/* seção footer */
.secao-footer{
    background-color: #2f86d6;
}

.container-footer {
    position: relative;
    padding: 35px 0px;
}

.container-footer img{
    width: 80px;
    position: absolute;
    left: 30%;
}

.texto-logo{
   text-align: center;
}

.texto-logo h2{
    margin: 0px;
}

.texto-logo p{
    margin: 0px 0px 30px 0px;
}

.texto-logo span{
    color: #f6f6f6;
}


.texto-footer{
    text-align: center;
}

.secao-desenvolvido{
    background-color: #233032;
}

.container-desenvolvido{
    text-align: center;
    padding: 20px 0px;
}

.container-desenvolvido p {
    color: #f6f6f6;
    margin: 0;
}

.container-desenvolvido span{
    color: #2f86d6;
}